{% extends 'base.html' %}
{% block head %}
  <title>About us</title>
{% endblock %}
{% block body %}
  <!-- About us -->
  <section id="about">
    <div class="parent-div">
      <div class="text-center mt-20">
        <h1 class="text-3xl font-bold">Learn about MindSpark</h1>
        <p class="mt-2">This isn't just an about-us but a story unfolding</p>
      </div>

      <div
        class="the_struggle flex flex-col justify-center align-center my-10 md:flex-row"
      >
        <div class="about-img w-3/5 mx-auto md:m-0 md:w-2/5 floating">
          <img src="static/img/question.jpg" class="w-full" alt="" />
        </div>

        <div
          class="about-text w-full my-auto text-center md:w-2/5 md:text-left"
        >
          <h2 class="font-bold text-2xl my-3">How MindSpark came to be</h2>
          <p class="px-10 md:p-0">
            Picture this – I was in my second year of college, facing a major
            hurdle: distractions were pulling me away from my studies, and
            study materials seemed to be nowhere in sight. Plus, I was tight
            on funds, making the situation even trickier. That's when a spark
            of an idea ignited within me – what if I could create a software
            solution to help myself study?
          </p>
        </div>
      </div>
      <!-- =================== -->
      <div
        class="the_solution flex flex-col justify-center my-10 md:flex-row"
      >
        <div class="about-img w-3/5 mx-auto md:m-0 md:w-2/5 floating">
          <img src="static/img/idea.jpg" class="w-full" alt="" />
        </div>
        <div
          class="about-text w-full my-auto text-center md:w-2/5 md:text-left"
        >
          <h2 class="font-bold text-2xl my-3">Solution!</h2>
          <p class="px-10 md:p-0">
            But here's where things got exciting! As I delved deeper into the
            idea, I realized that not only could this software help me, but it
            could also assist countless others on their learning journeys.
            Talk about a win-win situation! By transforming this concept into
            a venture, I could make a positive impact while making a living –
            talk about killing two birds with one stone!
          </p>
        </div>
      </div>
      <!-- =================== -->
      <div class="ourmission flex flex-col justify-center my-10 md:flex-row">
        <div class="about-img w-3/5 mx-auto md:m-0 md:w-2/5 floating">
          <img src="static/img/mission.jpg" class="w-full" alt="" />
        </div>
        <div
          class="about-text w-full my-auto text-center md:w-2/5 md:text-left"
        >
          <h2 class="font-bold text-2xl my-3">Our Mission</h2>
          <p class="px-10 md:p-0">
            And thus, the marvelous journey of MindSpark began. Our mission?
            To revolutionize the way people learn, providing you with
            innovative tools that make studying a breeze. We're all about
            empowering students, professionals, and lifelong learners like you
            to unleash your true potential.
          </p>
        </div>
      </div>
      <!-- =================== -->
      <div class="understand flex flex-col justify-center my-10 md:flex-row">
        <div class="about-img w-3/5 mx-auto md:m-0 md:w-2/5 floating">
          <img src="static/img/understand.jpg" class="w-full" alt="" />
        </div>
        <div
          class="about-text w-full my-auto text-center md:w-2/5 md:text-left"
        >
          <h2 class="font-bold text-2xl my-3">We Understand</h2>
          <p class="px-10 md:p-0">
            At MindSpark, we get it. We understand the struggles you face when
            it comes to accessing educational resources. That's why we've
            poured our hearts and souls into developing top-notch software
            that removes barriers and gives you the support you need to
            thrive. Say goodbye to tedious and uninspiring learning
            experiences! We're not just another faceless corporation we're a
            vibrant community of learners, dreamers, and explorers. We believe
            that education should be engaging, interactive, and yes, even
            enjoyable! So, come on board and embark on this exciting adventure
            with us.
          </p>
        </div>
      </div>
      <!-- =================== -->
    </div>
  </section>
  <!-- Join Us -->
  <section id="joinus" class="text-center my-10">
    <div>
      <h2 class="font-bold text-2xl my-3">Join Us!</h2>
      <div class="flex justify-center">
        <p class="w-full md:w-1/2">
          Together, let's unlock the incredible power of knowledge and pave
          the way for a brighter future. The MindSpark community eagerly
          awaits your presence. Remember, you are the spark that sets your
          learning journey ablaze!
          <br />
          <a
            href=""
            class="inline-block bg-primaryMaroon px-10 py-2 text-white my-3"
            >Join The Revolution!</a
          >
        </p>
      </div>
    </div>
  </section>
{% endblock %}