{% extends 'base.html' %}
<!-- Head -->
{% block head %}
<title xmlns="http://www.w3.org/1999/html">Results</title>
{% endblock %}
<!-- Navigation -->
{% block nav %}
<nav>
  <div class="flex gap-5 justify-center text-xl py-5 px-2 shadow-lg">
    <a
      href="{{ url_for('quiz') }}"
      class="px-6 py-1 bg-primaryBlue rounded-3xl text-white md:px-6 md:py-2 flex gap-2 my-auto"
    >
      <span class="hidden md:inline-block my-auto">Back to Quizzes </span>
      <i class="las la-home inline-block my-auto text-3xl"></i>
    </a>
    <span class="inline-block my-auto"
      >CSC220 - Data Processing and Management</span
    >
  </div>
</nav>
{% endblock %}
<!-- Body -->
{% block body %}

<section class="py-16">
  <div class="mx-5 flex flex-col gap-10 justify-center md:flex-row">
    <div class="firstDiv w-full md:w-1/2">
      <div
        class="score text-center mb-10 bg-[#539165] text-white w-40 h-40 pt-14 rounded-full mx-auto"
      >
        <span>Your score</span> <br />
        <span>99%</span>
      </div>
      <div
        class="bg-gray-100 flex justify-center flex-wrap align-center justify-center gap-4 py-4 mb-10 rounded-2xl"
      >
        <p class="inline-block w-4/12 relative flex flex-col">
          <span
            class="inline-block text-center px-4 py-1 rounded-3xl bg-primaryBlue font-bold mx-auto text-white"
            >100%</span
          >
          <span class="block text-center mt-3">Completion</span>
        </p>
        <p class="inline-block w-4/12 relative flex flex-col">
          <span
            class="inline-block text-center px-4 py-1 rounded-3xl bg-primaryBlue font-bold mx-auto text-white"
            >20</span
          >
          <span class="block text-center mt-3">Total Question</span>
        </p>
        <p class="inline-block w-4/12 relative flex flex-col">
          <span
            class="inline-block text-center px-4 py-1 rounded-3xl bg-brightGreen font-bold mx-auto text-white"
            >19</span
          >
          <span class="block text-center mt-3">Correct</span>
        </p>
        <p class="inline-block w-4/12 relative flex flex-col">
          <span
            class="inline-block text-center px-4 py-1 rounded-3xl bg-red font-bold mx-auto text-white"
            >1</span
          >
          <span class="block text-center mt-3">Wrong</span>
        </p>
      </div>
      <div
        class="moreoptions bg-gray-100 rounded-2xl p-5 grid grid-cols-3 gap-4 text-center relative"
      >
        <div
          class="share-div hidden w-40 flex justify-center gap-3 absolute top-[-60%] right-0 bg-white shadow-share rounded-md text-2xl py-2 animate__animated"
        >
          <a><i class="lab la-facebook"></i></a>
          <a href="https://www.twitter.com/"><i class="lab la-twitter"></i></a>
          <a href="https://www.instagram.com/"
            ><i class="lab la-instagram"></i
          ></a>
          <a><i class="las la-link"></i></a>
        </div>
        <!-- ======== -->
        <a
          href="/index"
          class="home flex gap-3 justify-center my-auto p-2 rounded-2xl bg-white"
        >
          <span class="my-auto">Home</span>
        </a>
        <!-- ======== -->
        <a
          href="/select-quiz"
          class="retake flex gap-3 justify-center my-auto p-2 rounded-2xl bg-white"
        >
          <span class="my-auto">Retake</span>
        </a>
        <!-- ======== -->
        <button
          class="share flex gap-3 justify-center my-auto p-2 rounded-2xl cursor-pointer bg-white"
          id="shareBtn"
        >
          <span class="my-auto">Share</span>
        </button>
        <!-- ======== -->
      </div>
    </div>

    <div
      class="secondDiv my-auto shadow-3 w-full md:w-1/2 py-5 rounded-2xl bg-gray-100"
    >
      <div class="w-full flex gap-5 justify-between px-5">
        <span class="inline-block font-semibold underline my-auto"
          >QUESTION</span
        >
        <p class="flex flex-col">
          <span
            >Which of the following classes of immunoglobulins is primarily
            responsible for allergic reactions and hypersensitivity
            responses?</span
          >
          <span class="mt-3">
            <span class="font-bold">Answer: </span>
            IgA</span
          >
        </p>
      </div>
      <div class="w-full flex gap-5 justify-between mt-4 px-5">
        <span class="inline-block font-semibold underline my-auto"
          >QUESTION</span
        >
        <p class="flex flex-col">
          <span
            >Which immunoglobulin class is the most abundant in the bloodstream
            and is responsible for long-term immunity after vaccination or
            infection?</span
          >
          <span class="mt-3">
            <span class="font-bold">Answer: </span>
            IgG</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block footer %}{% endblock %}
