{% extends 'base.html' %} {% block head %}
<title>Help</title>
{% endblock %} {% block body %}
<section class="p-10">
  <div>
    <div class="header my-10 text-center">
      <h1 class="text-3xl font-bold">Contact Us</h1>
      <span>Have any questions, Let us know how we can help.</span>
    </div>
    <div class="body flex flex-col md:flex-row gap-10 justify-center">
      <div
        class="social-media w-full my-auto rounded-xl px-4 py-6 border-t-4 border-primaryMaroon shadow-3 md:w-4/12"
      >
        <h2 class="font-semibold mb-3 text-xl">Social media</h2>
        <p class="text-sm font-semibold text-gray-400">
          Follow us on our social media pages and join the conversation for
          quick updates, news, and direct messaging.
        </p>
        <p class="text-center mt-7">
          <a
            href="#"
            class="text-sm text-primaryMaroon font-semibold py-2 px-5 border border-primaryMaroon rounded-full hover:text-white hover:bg-primaryMaroon"
          >
            Visit community Page</a
          >
        </p>
      </div>
      <div
        class="support w-full my-auto rounded-xl px-4 py-6 border-t-4 border-green shadow-3 md:w-4/12"
      >
        <h2 class="font-semibold mb-3 text-xl">Help & Support</h2>
        <p class="text-sm font-semibold text-gray-400">
          Reach out to us via our social media handles to get your questions
          answered promptly. We're here to help!
        </p>
        <p class="text-center text-sm font-semibold text-green mt-7">
          <a
            href="#"
            class="inline-block py-2 px-5 border border-green rounded-full hover:text-white hover:bg-green"
          >
            Visit Support Page</a
          >
          <a href="{{ url_for('feedback') }}" class="block mt-2 text-[11px]"
            >SUBMIT A REQUEST</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
