{% extends 'base.html' %}

<!-- Head -->
{% block head %}
  <title>Login</title>
{% endblock %}

<!-- Body -->
{% block body %}
  <section class="h-screen mt-20 place-items-center md:m-0 md:grid">
      <div class="flex justify-center gap-20 flex-col md:flex-row">
        <div class="input-div my-auto w-full px-6 md:px-0 md:w-1/5">
          <h1 class="font-bold text-2xl">Login</h1>
          <div class="my-3">
            <p>
              Don't have an account yet?
              <a
                href="/register"
                class="underline text-primaryBlue text-[14px]"
                >Sign up</a
              >
            </p>
          </div>

          <form action="" class="my-3" method="post">
            <div class="form-control">
              <label class="font-bold text-lg">Email Id</label>
              <input
                type="email"
                name="email"
                class="border-2 rounded-sm border-gray p-2 block w-full my-2 outline-none focus:border-primaryMaroon"
                placeholder="johndoe@example.com"
              />
            </div>
            <div class="form-control">
              <div class="flex justify-between">
                <label class="font-bold text-lg">Password</label>
                <a
                  href="/recover"
                  class="underline text-primaryBlue text-[14px] my-auto"
                  >Forgot Password?</a
                >
              </div>
              <input
                type="password"
                name="password"
                class="border-2 rounded-sm border-gray p-2 block w-full my-2 outline-none focus:border-primaryMaroon"
                placeholder="Enter 6 Characters or more"
              />
            </div>
            <div class="form-control my-3 flex gap-2">
              <input type="checkbox" name="" id="" /> <span>Remember Me</span>
            </div>
            <div
              class="form-control bg-primaryMaroon py-3 text-white rounded-sm"
            >
              <input type="submit" name="submit" value="LOGIN" class="w-full cursor-pointer" />
            </div>
            <div class="form-control text-center my-3">
              <span class="styled-text text-grey">or continue with</span>
            </div>
            <div class="form-control flex justify-center gap-10">
              <a href="" class="border border-gray p-2 rounded text-red"
                ><i class="lab la-google-plus-g"></i>
                <span>Google</span></a
              >
              <a
                href=""
                class="border border-gray p-2 rounded text-facebookBlue"
                ><i class="lab la-facebook-f"></i
                ><span class="">Facebook</span></a
              >
            </div>
          </form>
        </div>
        <div
          class="image-div hidden md:block w-2/5 floating focus:outline-none"
        >
          <img src="static/img/login.jpg" alt="" />
        </div>
      </div>
    </section>
{% endblock %}
