{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>MindSpark - Quiz info</title>
{% endblock %}

<!-- Body -->
{% block body %}
<section>
    <div class="mx-6 py-10">
        <h2 class="text-2xl">{{ subject[0] .upper() }}{{ subject[1:] }}</h2>
        <div class="text-base italic">
            <a href="{{ url_for('index') }}">Home</a>
            <i class="las la-angle-right"></i>
            <a href="{{ url_for('quiz') }}">Quiz</a>
            <i class="las la-angle-right"></i>
            <span>{{ subject }}</span>
        </div>
        <div class="my-5">
            <ul class="divide-y px-4 py-2 rounded-md bg-gray-100">
                {% for quiz in all_quiz %}
                    {% if quiz.subject == subject %}
                <li class="py-2 flex flex-col justify-between gap-2 lg:flex-row">
                    <p>
                        <span class="block text-xl">{{ quiz.name }}</span>
                        <span class="italic block text-sm">By <a>{{ quiz.author }}</a></span>
                        <span class="text-sm">19 sept, 2023</span>
                    </p>
                    <span class="flex gap-5">
                    <a href="{{ url_for('select_quiz', quiz_id=quiz.id) }}" class="bg-green text-white py-1 px-5 rounded-sm my-auto">Take quiz</a>
                    <a href="#" class="bg-green text-white px-5 rounded-sm my-auto">
                        <i class="las la-download text-2xl"></i>
                    </a>
                    </span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}