{% extends 'base.html' %}
<!-- Head Tag -->
{% block head %}
  <title>Select Quiz</title>
{% endblock %}

<!-- Custom Navigation -->
{% block nav %}
  <nav class="md:shadow-lg z-10">
      <div class="flex flex-wrap justify-center gap-20 px-4 py-5 text-xl">
        <div class="flex gap-5 my-auto">
          <a href="" onclick="event.preventDefault()"
            class="px-6 py-2 bg-primaryBlue rounded-3xl text-white"
          >
            <span>Back to Quizzes <i class="las la-home"></i></span>
          </a>
          <span class="my-auto">CSC220 - Data Processing and Management</span>
        </div>
      </div>
    </nav>
{% endblock %}

<!-- Body -->
{% block body %}
  <section class="h-screen grid place-items-center">
      <div class="flex justify-center gap-10 flex-col mx-auto md:flex-row">
        <div
          class="image-div w-4/5 floating mx-auto focus:outline-none md:w-2/5 md:m-0"
        >
          <img src="static/img/choose.jpg" class="w-full" alt="" />
        </div>
        <form class="my-auto w-full px-6 md:px-0 md:w-4/12" action="/take-quiz" method="post">
          <h1 class="font-bold text-3xl mb-5">Quiz Setup</h1>
          <p class="mt-2 text-[#F94C10]">Field marked with <i class="las la-ban"></i> have been temporarily disabled!</p>
          <div class="form-control my-3">
            <label class="font-medium">Number of Questions</label>
            <input
              name="amount"
              type="number"
              class="w-full mt-2 border border-1 border-gray rounded focus:outline-none p-2 "
              placeholder="--"
            />
          </div>
          <div class="form-control my-3">
            <label class="font-medium">Select Difficulty <i class="las la-ban text-[#F94C10]"></i></label>
            <select
              name="difficulty"
              disabled
              class="w-full mt-2 border border-1 border-gray rounded focus:outline-none p-2 disabled:bg-[#f5f5f5]"
            >
              <option>--</option>
              <option value="easy">Easy</option>
              <option value="medium">Hard</option>
              <option value="hard">Einstein Mad</option>
            </select>
          </div>
          <div class="form-control my-3">
            <label class="font-medium">Select Type <i class="las la-ban text-[#F94C10]"></i></label>
            <select
              name="type"
              disabled
              class="block w-full mt-2 border border-1 border-gray rounded focus:outline-none p-2 disabled:bg-[#f5f5f5]"
            >
              <option value="boolean">True or False</option>
              <option value="multiple">Multiple Option</option>
            </select>
          </div>
          <div class="form-control my-6">
            <input
              type="submit"
              value="Take Quiz"
              class="bg-green py-3 px-5 rounded-md text-white cursor-pointer"
            />
          </div>
        </form>
      </div>
    </section>
  <!-- Footer -->
  {% block footer %}{% endblock %}
{% endblock %}

