* {
  transition: all 0.3s ease-in-out;
}
@font-face {
  font-family: renogare;
  src: url(RenogareSoft-Regular.ttf);
}
.kanit {
  font-family: "Kanit", sans-serif;
}
html {
  scroll-behavior: smooth;
}
 /*.no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}*/
::-webkit-scrollbar{width:7px;border-left:1px solid #E6ECF8;}
::-webkit-scrollbar-thumb{background-color:#da373d;border-radius:4px;}
.bg-gradient-red{
background: rgb(218,55,61);
background: linear-gradient(90deg, rgba(218,55,61,1) 20%, rgba(255,120,126,1) 100%);
}
input[type="checkbox"] {
  accent-color: #862b0d;
}
::selection {
  color: #fff;
  background: #da373d;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* DropDown Menu for Categories and all-menu for Mobile View Navigation Menu */
.dropdown-menu {
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-menu.show,
.all-menu.show {
  display: block;
  animation: slideFadeIn 0.3s ease-in-out;
}

.dropdown-menu.hide,
.all-menu.hide {
  display: none;
  animation: slideFadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
.sidebarlink.active{
 border-left: 4px solid #da373d;
 background-color: rgb(243 244 246);
}
/* CSS */
.animate__fadeInDown {
  animation-duration: 0.6s;
}
.rotate-caret {
  transition: transform 0.3s ease-in-out;
}
.caret-rotate {
  transform: rotate(180deg);
}
.floating {
  animation: float 6s ease-in-out infinite;
}
.cat-ul:hover {
  background-color: #eee;
}
/* Login and Signup */
.input_section {
  height: 90vh;
  display: grid;
  place-items: center;
}
/* Line before */
.styled-text::before,
.styled-text::after {
  content: "";
  display: inline-block;
  width: 65px;
  margin: 0 5px;
  height: 1px;
  background-color: #d1d1d1;
  vertical-align: middle;
}
.google {
  background: linear-gradient(to right, #4285f4, #ea4335, #fbbc05, #34a853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.styled-text {
  display: inline-block;
  margin: 0;
}
/* Utilities */
.shadow_lg {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*  */
.left-align {
  flex: 0 0 auto;
}
.center-align {
  flex: 1;
  text-align: center;
}
/* Styling the Question Div */
.dialog {
  position: relative;
  box-shadow: 20px 20px #dfdfdf;
}

.dialog::after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-stroke: 0.5px #fff9c9;
  -webkit-text-fill-color: #fff9c9;
  border: 1px solid #fff9c9;
  text-shadow: 22px 22px #dfdfdf;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #fff9c9;
  position: absolute;
  display: block;
  bottom: -35px;
  left: 0;
  box-shadow: 22px 22px #dfdfdf;
  z-index: -2;
}
/* Styling for EndQuiz Page */
.details {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.score {
  animation: box-shadow-animation 2s ease-in-out infinite;
}
.share {
  display: flex;
}
.share-div:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 15px solid #ddd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.share-div.animate__fadeInUp,
.share-div.animate__fadeOutDown {
  animation-duration: 0.6s;
}
.shadow-share {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shadow-url {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.shadow-unq {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.retake:hover {
}
/* Notifications */
#notificationDiv,
#sidemore {
  right: -590px;
  margin: 10px;
  transition: right 0.3s ease-in-out;
}
/* #sidemore, #sidemore.active*/
#notificationDiv.active,
#sidemore.active {
  right: 0;
}
/* Placeholder Animation
.placeholder-label {
  position: absolute;
  pointer-events: none;
  top: 19px;
  left: 10px;
  transition: 0.2s ease-out;
  color: #b6b6b6;
}
.placeholder-active {
  font-size: 12px;
  top: 0;
  color: #b70404;
  padding: 0 10px;
  font-weight: bold;
}
.placeholder-not-active {
  font-size: 14px;
  top: 19px;
  color: #999999;
}
*/
.shadow-btn {
  position: relative;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
}
.radius-1 {
  border-radius: 55% 45% 32% 68% / 56% 30% 70% 44%;
}
.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.shadow-2 {
  box-shadow: 0px 16px 32px 0px rgb(233 238 242 / 90%);
}
.shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.bg-library {
  background: url("../img/gpa.jpg");
  background-size: cover;
  background-position: left;
}
.bg-image-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/library.jpg");
  background-size: cover;
  background-position: left center;
  left: 60px;
  top: 0px;
}
.bg-image-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/test.jpg");
  background-size: cover;
  background-position: left center;
  left: 40px;
  top: 0px;
}
.bg-image-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/community.png");
  background-size: cover;
  background-position: left center;
  left: 100px;
  top: 0px;
}
.bg-image-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/article.png");
  background-size: cover;
  background-position: left center;
  left: 100px;
  top: 0px;
}
/* Animations */
@keyframes box-shadow-animation {
  0% {
    box-shadow: 0 0 0 5px rgba(39, 252, 75, 0.281),
      0 0 0 20px rgba(39, 252, 75, 0.281);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(39, 252, 75, 0.281),
      0 0 0 30px rgba(39, 252, 75, 0.281);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(39, 252, 75, 0.281),
      0 0 0 20px rgba(39, 252, 75, 0.281);
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}
