{% extends 'base.html' %}

<!-- Head -->
{% block head %}
  <title>Register</title>
{% endblock %}

<!-- Navigation Menu -->
{% block nav %}
  <nav class="shadow-lg bg-white">
      <div class="flex justify-between md:justify-around gap-20 px-4 py-5">
        <a href="/" class="my-auto w-32"
          ><img src="static/img/logo.png" alt=""
        /></a>
        <ul class="hidden md:flex md:justify-center gap-5 my-auto">
          <li><a href="/">Home</a></li>
          <li>
            <a href="#">Categories <i class="las la-angle-down"></i></a>
          </li>
        </ul>
        <ul class="flex justify-center gap-5">
          <li class="px-10 py-2 my-auto inline-block md:hidden relative">
            <button class="toggle_btn" id="toggle_btn">
              <i class="las la-bars"></i> <span class="my-auto">Menu</span>
            </button>
          </li>
        </ul>
      </div>
      <ul
        class="all-menu absolute top-20 w-full bg-white md:hidden"
        id="all_menu"
      >
        <li class="m-3"><a href="/">Home</a></li>
        <li class="m-3"><a href="/about">About us</a></li>
      </ul>
    </nav>
{% endblock %}

<!-- Body -->
{% block body %}
  <section class="h-screen mt-20 place-items-center md:m-0 md:grid">
      <div class="flex justify-center gap-20 flex-col md:flex-row">
        <div class="input-div my-auto w-full px-6 md:px-0 md:w-1/5">
          <h1 class="font-bold text-2xl">Sign Up</h1>
          <div class="my-3">
            <p>
              Already have an account?
              <a
                href="/login"
                class="underline text-primaryBlue text-[14px]"
                >Sign in</a
              >
            </p>
          </div>

          <form action="" class="my-3">
            <div class="form-control">
              <label for="" class="font-bold text-lg">Email Id</label>
              <input
                type="email"
                class="border-2 rounded-sm border-gray p-2 block w-full my-2 focus:outline-none"
                placeholder="johndoe@example.com"
              />
            </div>
            <div class="form-control">
              <label for="" class="font-bold text-lg">Password</label>
              <input
                type="password"
                class="border-2 rounded-sm border-gray p-2 block w-full my-2 focus:outline-none"
                placeholder="Enter 6 Characters or more"
              />
            </div>
            <div class="form-control my-3">
              <div class="flex gap-2 text-xs text-darkerGrey">
                <i class="las la-check my-auto"></i>
                <span class="my-auto"
                  >Password should be 6 characters or more</span
                >
              </div>
              <div class="flex gap-2 text-xs text-darkerGrey">
                <i class="las la-check my-auto"></i>
                <span class="my-auto"
                  >Password should contain numbers and letters</span
                >
              </div>
              <div class="flex gap-2 text-xs text-darkerGrey">
                <i class="las la-check my-auto"></i>
                <span class="my-auto"
                  >Password should not contain special characters</span
                >
              </div>
            </div>
            <div
              class="form-control bg-primaryMaroon py-3 text-white rounded-sm"
            >
              <input type="submit" value="SIGN UP" class="w-full" />
            </div>
            <div class="form-control text-center my-3">
              <span class="styled-text text-grey">or continue with</span>
            </div>
            <div class="form-control flex justify-center gap-10">
              <a href="" class="border border-gray p-2 rounded font-bold"
                ><i class="lab la-google google"></i>
                <span class="text-red">Google</span></a
              >
              <a
                href=""
                class="border border-gray p-2 rounded font-bold text-facebookBlue"
                ><i class="lab la-facebook-f"></i
                ><span class="">Facebook</span></a
              >
            </div>
          </form>
        </div>
        <div
          class="image-div hidden md:block w-2/5 floating focus:outline-none"
        >
          <img src="static/img/signup.jpg" alt="" />
        </div>
      </div>
    </section>
{% endblock %}