<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
      integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/tailwindcss" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="relative no-scrollbar overflow-y-auto">
    {% block nav %}
    <nav class="bg-white sticky top-0 z-20">
      <div class="flex justify-between md:justify-around gap-20 px-4 py-5">
        <a href="/" class="my-auto kanit text-xl"
          ><span class="p-2 bg-clifford text-white radius-1">Mind</span>Spark</a
        >
        <span class="hidden my-auto italic font-semibold md:inline-block"
          >Empowering Futures, One Mind at a Time</span
        >
        <ul class="flex justify-center gap-5 my-auto">
          <li class="my-auto">
            <button
              class="sideMore px-2 py-1 bg-clifford rounded-sm text-white"
            >
              <i class="las la-ellipsis-v text-2xl"></i>
            </button>
          </li>
          <li class="my-auto relative">
            <span
              class="bg-clifford h-2 w-2 rounded-full absolute top-0 right-0"
            ></span>
            <button class="noticeToggle">
              <i class="las la-bell text-2xl"></i>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Sidebar for more menu -->
    <div
      class="sidemore fixed rounded-lg top-0 bg-white p-0 w-8/12 h-[97%] z-30 md:w-5/12 overflow-scroll"
      id="sidemore"
    >
      <h2 class="text-2xl my-3 mx-2 px-3 pb-2 border-b flex justify-between">
        <span>Menu</span>
        <button class="my-auto text-3xl" id="closesidemore">
          <i class="las la-arrow-right"></i>
        </button>
      </h2>
      <ul class="mx-2 leading-6 overflow-hidden">
        <!--        if not current_user.acct_type == 'user' -->
        <li>
          <a
            href="{{ url_for('dashboard') }}"
            class="flex gap-3 py-2 px-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="uil uil-chart-growth inline-block my-auto text-2xl"></i>
            <span class="inline-block my-auto">Dashboard</span>
          </a>
        </li>
        <!--    ##     endif -->
        <li>
          <a
            href="{{ url_for('index') }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="uil uil-estate inline-block my-auto text-2xl"></i>
            <span class="inline-block my-auto">Home</span>
          </a>
        </li>
        <li class="relative">
          <a
            href="{{ url_for('index') }}"
            class="sidebarlink flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
            onclick="event.preventDefault()"
            id="studyToolsToggle"
          >
            <i class="uil uil-pen my-auto text-2xl"></i>
            <span class="inline-block my-auto">Study tools</span>
            <button class="my-auto mr-10 absolute right-0 text-3xl">
              <i class="lar la-plus-square"></i>
            </button>
          </a>
          <ul class="h-0 overflow-hidden transition" id="studyToolsDropdown">
            <li>
              <a href="{{ url_for('quiz') }}" class="flex gap-3 py-2 px-3 mt-3">
                <i class="uil uil-file-question my-auto text-2xl"></i>
                <span class="inline-block my-auto">Quiz</span></a
              >
            </li>
            <li>
              <a
                href="{{ url_for('coming_soon') }}"
                class="flex gap-3 py-2 px-3 mt-3"
              >
                <i class="uil uil-images my-auto text-2xl"></i>
                <span class="inline-block my-auto">Flashcards</span></a
              >
            </li>
            <li>
              <a
                href="{{ url_for('coming_soon') }}"
                class="flex gap-3 py-2 px-3 mt-3"
              >
                <i class="uil uil-file-question-alt my-auto text-2xl"></i>
                <span class="inline-block my-auto">Past Questions</span></a
              >
            </li>
          </ul>
        </li>
        <li class="relative">
          <a
            href="{{ url_for('index') }}"
            class="sidebarlink flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
            onclick="event.preventDefault()"
            id="toolsToggle"
          >
            <i class="las la-toolbox my-auto text-2xl"></i>
            <span class="inline-block my-auto">Tools</span>
            <button class="my-auto mr-10 absolute right-0 text-3xl">
              <i class="lar la-plus-square"></i>
            </button>
          </a>
          <ul class="h-0 overflow-hidden transition" id="toolsDropdown">
            <li>
              <a href="{{ url_for('gpa') }}" class="flex gap-3 py-2 px-3 mt-3">
                <i class="uil uil-calculator-alt my-auto text-2xl"></i>
                <span class="inline-block my-auto">CGPA Calculator</span></a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="{{ url_for('create_quiz') }}"
            class="flex gap-3 py-2 px-3 mt-2 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="uil uil-plus my-auto text-2xl"></i>
            <span class="inline-block my-auto">Create Quiz</span></a
          >
        </li>
        <li>
          <a
            href="{{ url_for('profile', username=current_user.username) }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="las la-user my-auto text-2xl"></i>
            <span class="inline-block my-auto">Profile</span></a
          >
        </li>
        <li>
          <a
            href="{{ url_for('community') }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="las la-users my-auto text-2xl"></i>
            <span class="inline-block my-auto">Community</span></a
          >
        </li>
        <li>
          <a
            href="{{ url_for('help_page') }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="las la-question-circle my-auto text-2xl"></i>
            <span class="inline-block my-auto">Help</span></a
          >
        </li>
        <li>
          <a
            href="{{ url_for('feedback') }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="las la-comment my-auto text-2xl"></i>
            <span class="inline-block my-auto">Feedback</span></a
          >
        </li>
        <li>
          <a
            href="{{ url_for('support_page') }}"
            class="flex gap-3 py-2 px-3 mt-3 border-l-4 border-transparent hover:bg-gray-100"
          >
            <i class="uil uil-headphones-alt my-auto text-2xl"></i>
            <span class="inline-block my-auto">Support</span></a
          >
        </li>
        {% if current_user.is_authenticated %}
        <li>
          <a
            href="{{ url_for('logout') }}"
            class="w-full block py-2 px-3 text-center mt-3 rounded-full text-white bg-clifford"
            >Log out</a
          >
          {% else %}
          <a
            href="{{ url_for('login') }}"
            class="w-full block py-2 px-3 text-center mt-3 rounded-full border border-gray-300 bg-white"
            >Sign in / up</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
    {% endblock %}
    <!-- Overlay -->
    <div
      class="overlay hidden bg-[#000] opacity-30 fixed w-full h-full top-0 z-20 cursor-pointer"
    ></div>
    <!-- Notifications -->
    <div
      class="fixed top-0 rounded-lg bg-white notifications w-8/12 h-[97%] py-2 px-4 md:px-2 z-30 md:w-5/12 overflow-hidden"
      id="notificationDiv"
    >
      <h2 class="text-2xl my-3 mx-2 pb-2 border-b flex justify-between">
        <span>Notifications</span>
        <button class="my-auto text-3xl noticeToggle">
          <i class="las la-arrow-right"></i>
        </button>
      </h2>
      <div class="notices mt-4">
        <div
          class="p-2 border-dashed border-b-2 cursor-pointer hover:bg-lightGrey"
        >
          <!-- <span class="my-auto w-2/12 p-2 rounded-full bg-sage md:w-1/12"
            ><img src="static/img/notice.png" alt="" class=""
          /></span> -->
          <span class="text-sm md:text-base my-auto"
            >Congratulations! You've earned a new achievement: "Master of
            Quizzes."</span
          >
        </div>
        <div
          class="p-2 border-dashed border-b-2 cursor-pointer hover:bg-lightGrey"
        >
          <span class="text-sm md:text-base"
            >Our summer sale is here! Enjoy up to 50% off on selected items.
            Limited time offer, shop now!</span
          >
        </div>
      </div>
    </div>
    {% block body %}{% endblock %}
    <!-- Footer -->
    {% block footer %}
    <footer class="bg-gray-600 text-white py-3">
      <div
        class="parent-div flex justify-center gap-10 px-10 md:justify-none md:gap-0 md:flex-col"
      >
        <ul class="flex gap-2 flex-col flex-wrap md:flex-row md:gap-5">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/about">Contact</a>
          </li>
          <li>
            <a href="/coming_soon">Privacy Policy</a>
          </li>
          <li>
            <a href="/coming_soon">Terms of Service</a>
          </li>
        </ul>
        <div class="my-auto md:mt-5 text-center md:text-left">
          <p>&copy; MindSpark 2023</p>
          <p class="my-3">
            Need help? <a href="#" class="font-bold underline">Contact us</a>
          </p>
        </div>
      </div>
    </footer>
    {% endblock %} {% block script %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
    <!-- cookie notification -->
    <!--    <div class="fixed bottom-0 w-full border border-t-2 bg-white z-10">-->
    <!--      <div class="flex justify-center gap-10 align-center py-2 px-4">-->
    <!--        <span class="inline-block w-3/5"-->
    <!--          >We use cookies to personalise your experience and to analyse our-->
    <!--          website traffic. By continuing to use our website, you consent to our-->
    <!--          cookies.</span>-->
    <!--        <div class="flex justify-center gap-5 w-2/5">-->
    <!--          <a href="#" class="border px-2 rounded-md inline-block my-auto">View cookie policy</a>-->
    <!--          <button class="border px-5 bg-clifford text-white rounded-md inline-block my-auto">Accept</button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </body>
</html>
