{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>MindSpark</title>
{% endblock %}
<!-- Body -->
{% block body %}
<!-- Hero Section -->
<section id="hero" class="py-5 text-center relative mb-10">
  <div class="flex justify-center flex-wrap">
    <div
      class="text-hero md:order-first order-last md:w-1/2 px-4 md:px-0 relative z-10 m-auto"
    >
      <h1
        class="text-2xl md:text-4xl py-3 font-bold text-primaryMaroon mb-4 text-center"
      >
        Make big subjects easier to digest with flashcards and practice tests
      </h1>
      <p class="md:text-xl">
        Whether you're a student seeking academic excellence or a lifelong
        learner hungry for knowledge, our interactive learning resources are
        designed to empower you every step of the way. Join us today and embark
        on a transformative learning experience that will pave the path to your
        success.
      </p>
      <div>
        <a
          href="#about"
          onclick="smoothScroll('#about')"
          class="px-5 py-3 mt-6 rounded-sm bg-primaryMaroon text-white inline-block"
          >Start Learning Today! <i class="las la-graduation-cap"></i>
        </a>
      </div>
    </div>
    <div class="img-hero w-3/5 md:w-2/5">
      <img
        src="static/img/4119036.jpg"
        class="hero_img_sm w-full h-full"
        alt=""
      />
    </div>
  </div>
</section>
<!-- What we can do -->
<section id="about" class="py-8 md:py-16">
  <div class="mx-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6 text-clifford"
    >
      <path
        fill-rule="evenodd"
        d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <h2 class="mt-3 mb-5 text-3xl">Pursuing excellence through education</h2>
    <p class="md:w-5/12">
      At MindSpark, we are dedicated to the pursuit of excellence through
      education. Our mission is to empower students with the tools and knowledge
      they need to excel in their academic journey. We believe that education is
      not just a means to an end but a lifelong adventure that fosters personal
      growth and opens doors to endless possibilities.
    </p>
  </div>

  <div class="mx-10 mt-10">
    <div
      class="flex flex-col md:flex-row divide-y md:divide-y-0 md:divide-x divide-grey shadow-2 rounded-2xl"
    >
      <div class="group overflow-hidden relative text-left py-16 md:w-4/12">
        <p class="relative px-7 z-20">
          <span class="text-xl mb-3 font-bold block group-hover:text-clifford"
            >Comprehensive Quiz Library</span
          >
          <span
            >Access a vast collection of quizzes covering various subjects and
            topics to cater to different learning needs.
          </span>
        </p>
        <div class="absolute top-0 w-full h-full left-0 bg-[#fff] opacity-70 z-10"></div>
        <div class="bg-image-1 z-1"></div>
      </div>
      <div class="group overflow-hidden relative text-left py-16 md:w-4/12">
        <p class="relative px-7 z-20">
          <span class="text-xl mb-3 font-bold block group-hover:text-clifford">Practice Tests</span>
          <span
            >Take simulated practice tests that mimic real exam conditions to
            assess your knowledge and prepare effectively.</span
          >
        </p>
        <div class="absolute top-0 w-full h-full left-0 bg-[#fff] opacity-70 z-10"></div>
        <div class="bg-image-2 z-1"></div>
      </div>
      <div class="group overflow-hidden relative text-left py-16 md:w-4/12">
        <p class="relative px-7 z-20">
          <span class="text-xl mb-3 font-bold block group-hover:text-clifford"
            >Social Learning Community</span
          >
          <span
            >Engage with a vibrant community of learners, share knowledge,
            discuss topics, and collaborate on study materials.</span
          >
        </p>
        <div class="absolute top-0 w-full h-full left-0 bg-[#fff] opacity-70 z-10"></div>
        <div class="bg-image-3 z-1"></div>
      </div>
      <div class="group overflow-hidden relative text-left py-16 md:w-4/12">
        <p class="relative px-7 z-20">
          <span class="text-xl mb-3 font-bold block group-hover:text-clifford">Article Search</span>
          <span
            >Search numerous articles with the help of various article
            databases.</span
          >
        </p>
        <div class="absolute top-0 w-full h-full left-0 bg-[#fff] opacity-70 z-10"></div>
        <div class="bg-image-4 z-1"></div>
      </div>
    </div>
  </div>
</section>
<!-- Start Learning -->
<section id="learn" class="py-8 md:py-16">
  <div class="px-5 flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 my-auto">
      <h2 class="text-4xl font-bold">Start Learning with MindSpark</h2>
      <p class="text-xl">Gain access to tools for academic excellence</p>
      <a
        href="#"
        class="inline-block mt-6 px-4 py-2 text-white bg-green rounded-xl"
        >Start Learning.</a
      >
    </div>
    <div class="w-full md:w-1/2 grid gap-5 grid-cols-2">
      <div>
        <div
          class="relative shadow-2 rounded-2xl pl-4 md:pl-7 pt-4 pb-10 w-full my-10 overflow-hidden"
        >
          <h2 class="text-xl md:text-2xl mb-2">Flash cards</h2>
          <p class="text-xl md:text-2xl font-bold">
            60 <span class="text-primaryMaroon">+</span>
          </p>
          <img
            src="static/img/flashcard.png"
            class="w-20 absolute bottom-[-10px] right-[-12px]"
          />
        </div>
        <div
          class="relative shadow-2 rounded-2xl pl-7 pt-4 pb-10 w-full my-10 overflow-hidden"
        >
          <h2 class="text-xl md:text-2xl mb-2">Quiz</h2>
          <p class="text-xl md:text-2xl font-bold">
            20 <span class="text-primaryMaroon">+</span>
          </p>
          <img
            src="static/img/quiz.png"
            class="w-16 absolute bottom-[-8px] right-[-10px]"
          />
        </div>
        <div
          class="relative shadow-2 rounded-2xl pl-7 pt-4 pb-10 w-full my-10 overflow-hidden"
        >
          <h2 class="text-xl md:text-2xl mb-2">Article Search</h2>
          <p class="text-xl md:text-2xl font-bold">
            30 <span class="text-primaryMaroon">+</span>
          </p>
          <img
            src="static/img/article.png"
            class="w-16 absolute bottom-[-8px] right-[-10px]"
          />
        </div>
      </div>
      <div class="my-auto">
        <div
          class="relative shadow-2 rounded-2xl pl-7 pt-4 pb-10 w-full my-10 overflow-hidden"
        >
          <h2 class="text-xl md:text-2xl mb-2">Past Questions</h2>
          <p class="text-xl md:text-2xl font-bold">
            40
            <span class="text-primaryMaroon">+</span>
          </p>
          <img
            src="static/img/exam-2.png"
            class="w-16 absolute bottom-[-8px] right-[-10px]"
          />
        </div>
        <div
          class="relative shadow-2 rounded-2xl pl-4 pt-4 pb-10 w-full my-10 overflow-hidden"
        >
          <h2 class="text-xl md:text-2xl mb-2">Competitions</h2>
          <p class="text-xl md:text-2xl font-bold">
            <span class="text-primaryMaroon">+</span>
          </p>
          <img
            src="static/img/trophy.png"
            class="w-16 absolute bottom-[-10px] right-[-5px]"
          />
        </div>
      </div>
      <!--      <div></div>-->
    </div>
  </div>
</section>
{% endblock %}
